.title-center-text {
  background: white;

  &_title {
    @include rem("margin-bottom", 40px);
    @include make-title(20px, 25px, 0, true);

    @include media-breakpoint-up(md) {
      @include rem("margin-bottom", 80px);
      @include font-computed(40px, 45px);
    }
  }

  &_text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;

    @include font-computed(16px, 32px);

    @include media-breakpoint-up(md) {
      @include font-computed(24px, 40px, 0.72px);
    }

    strong {
      position: relative;
      font-weight: 500;
      z-index: 2;

      &::after {
        content: "";
        display: block;
        height: 5.5px;
        width: 100%;
        position: absolute;
        background-color: var(--background-color-category);
        left: 0;
        top: 5px;
        z-index: -1;

        @include media-breakpoint-up(md) {
          height: 11px;
          top: 7px;
        }
      }
    }
  }
}
